/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   doft.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: gde-pass <gde-pass@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2018/04/13 19:14:54 by gde-pass          #+#    #+#             */
/*   Updated: 2018/05/10 14:23:58 by gde-pass         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

html, body
{
  width:100%;
  height:100%;
  margin: auto;
  margin-top: 5px;
  background-color: rgb(80, 80, 80);
}

.header-box
{
    margin: auto;
    width: 1700px;
    height: 130px;
    box-shadow: 6px 6px 6px black;
    background-color: rgb(144, 144, 144);
    border-radius: 6px
}

#title-header
{
    position: relative;
    width: 500px;
    height: 130px;
    margin: auto;
    border-radius: 6px;
}

#loupe
{
    position: relative;
    width: 220px;
    height: 130px;
    left: 950px;
    top: 17px;
}

#refresh_button
{
    position: relative;
    width: 18px;
    left: 950px;
    bottom: 100px;
}

#close
{
    position: relative;
    left: 928px;
    bottom: 5px;
    width: 18px;
}
