/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   doft.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: gde-pass <gde-pass@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2018/04/13 19:14:54 by gde-pass          #+#    #+#             */
/*   Updated: 2018/05/14 21:07:34 by gde-pass         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

html, body
{
  background-color: rgb(80, 80, 80);
}

form
{
    position: relative;
    left: 12px;
}

em
{
    font-style: normal;
    text-shadow: 5px 5px 4px red;
}

p
{
    position: relative;
    left: 12px;
    font-family: arial;
    font-size: 17px;
}

b
{
    font-size: 33px;
    font-weight: 400;
}

.icons
{
    width: 80px;
}

#clickscreen
{
    position: absolute;
    top: 450px;
    left: 1021px;
    width: 237px;
    height: 179px;
}

#clickchair
{
    position: absolute;
    top:507px;
    left: 433px;
    width: 126px;
    height: 212px;
}

#grosse-boite
{
    margin: auto;
    width: 2000px;
}

#header-box
{
    width: 1800px;
    height: 130px;
    margin: auto;
    margin-bottom: 15px;

    box-shadow: 6px 6px 6px black;
    background-color: rgb(144, 144, 144);
    border-radius: 6px
}

#moyenne-boite
{
    position: relative;
    display: flex;
    justify-content: center;
}

#left-box
{
    width: 170px;
    height: 550px;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    box-shadow: 6px 6px 6px black;
    background-color: rgb(144, 144, 144);
    border-radius: 6px;
}

#middle-box
{
    position: relative;
    width: 1300px;
    height: 800px;
    box-shadow: 6px 6px 6px black;
    background-color: rgb(144, 144, 144);
    border-radius: 6px;

}

#right-box
{
    width: 170px;
    height: 550px;
    margin-left: 30px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    box-shadow: 6px 6px 6px black;
    background-color: rgb(144, 144, 144);
    border-radius: 6px;

}

#green-area
{
    position: absolute;
    width: 480px;
    height: 180px;
    top: 710px;
    left: -270px;

    background-color: rgb(133, 223, 136);
    box-shadow: 6px 6px 6px black;
    border-radius: 6px;
}

#oeil
{
    border-style: solid;
    border-width: 5px;
    border-color: red;
    border-radius: 6px
}

#wall
{
    width: 150px;
    height: 80px;

    background-image:
    linear-gradient(to right, rgba(0,0,0,0.0), rgba(255,255,255,0.5)),url("resources/brick.jpg");
}

#book
{
    margin-top: 15px;
}

#title-header
{
    width: 500px;
    height: 130px;
    border-radius: 6px;
}

#loupe
{
    position: relative;
    width: 220px;
    height: 130px;
    left: 1050px;
    top: 17px;
}

#refresh_button
{
    position: relative;
    width: 18px;
    left: 1050px;
    bottom: 100px;
}

#close
{
    position: relative;
    left: 1028px;
    bottom: 5px;
    width: 18px;
}

#cluster
{
    position: relative;
    width: 1280px;
    height: 780px;
    top: 10px;
    left: 10px;
}
